
<ul class="accordion-list accordion-mobile-list">
   <li>
      <a><img src="img/dist/icons/category1.svg" alt="">Спецодежда</a>
      <ul class="accordion-list__1 accordion-mobile-list__1">
         <li><a href="../subcategory-page.html">Одноразовая одежда</a></li>
         <li><a href="../subcategory-page.html">Защита от кислот и щелочей</a></li>
         <li><a href="../subcategory-page.html">Защита от общих производственных загрязнений</a></li>
         <li><a href="../subcategory-page.html">Защита головы</a></li>
         <li><a href="../subcategory-page.html">Защита от пониженных температур</a></li>
         <li><a href="../subcategory-page.html">Сигнальная одежда</a></li>
         <li><a href="../subcategory-page.html">Защита от повышенных температур</a></li>
         <li><a href="../subcategory-page.html">Защита от влаги</a></li>
         <li><a href="../subcategory-page.html">Защита от нефти и нефтепродуктов</a></li>
         <li><a href="../subcategory-page.html">Защита от влаги</a></li>
      </ul>
   </li>
   <li>
      <a><img src="img/dist/icons/category2.svg" alt="">Спецобувь</a>
      <ul class="accordion-list__1 accordion-mobile-list__1">
         <li><a href="../subcategory-page.html">Летняя обувь</a></li>
         <li><a href="../subcategory-page.html">Утепленная обувь</a></li>
         <li><a href="../subcategory-page.html">Сапоги резиновые, ПВХ</a></li>
         <li><a href="../subcategory-page.html">Термостойкая обувь</a></li>
         <li><a href="../subcategory-page.html">Облегчённая обувь спортивного стиля</a></li>
         <li><a href="../subcategory-page.html">Ледоступы</a></li>
      </ul>
   </li>
   <li>
      <a><img src="img/dist/icons/category3.svg" alt="">Средства защиты</a>
      <ul class="accordion-list__1 accordion-mobile-list__1">
         <li><a href="../subcategory-page.html">Защита головы</a></li>
         <li><a href="../subcategory-page.html">Защита глаз и лица</a></li>
         <li><a href="../subcategory-page.html">Защита органов слуха</a></li>
         <li><a href="../subcategory-page.html">Защита органов дыхания</a></li>
         <li><a href="../subcategory-page.html">Защита от падения с высоты</a></li>
      </ul>
   </li>
   <li>
      <a><img src="img/dist/icons/category4.svg" alt="">Защита рук</a>
      <ul class="accordion-list__1 accordion-mobile-list__1">
         <li><a href="../subcategory-page.html">Защита от механических рисков</a></li>
         <li><a href="../subcategory-page.html">Защита от пониженных температур</a></li>
         <li><a href="../subcategory-page.html">Защита от повышенных температур</a></li>
      </ul>
   </li>
   <li>
      <a><img src="img/dist/icons/category4.svg" alt="">Covid-19</a>
      <ul class="accordion-list__1 accordion-mobile-list__1">
         <li><a href="../subcategory-page.html">Стандартная защита</a></li>
         <li><a href="../subcategory-page.html">Полная защита</a></li>
         <li><a href="../subcategory-page.html">Усиленная защита</a></li>
      </ul>
   </li>
</ul>
