
   <!-- slider-nav -->
   <div class="card-nav iw-slider">
      <div class="slide">
         <div class="slide-img">
            <img src="img/dist/card-slider/slide-for1.webp" alt="">
         </div>
      </div>
   
      <div class="slide">
         <div class="slide-img">
            <img src="img/dist/card-slider/slide-for2.webp" alt="">
         </div>
      </div>
   
      <div class="slide">
         <div class="slide-img">
            <img src="img/dist/card-slider/slide-for3.webp" alt="">
         </div>
      </div>

      <div class="slide">
         <div class="slide-img">
            <img src="img/dist/card-slider/slide-for4.webp" alt="">
         </div>
      </div>

      <div class="slide">
         <div class="slide-img">
            <img src="img/dist/card-slider/slide-for5.webp" alt="">
         </div>
      </div>

      <div class="slide">
         <div class="slide-img">
            <img src="img/dist/card-slider/slide-for6.webp" alt="">
         </div>
      </div>

      <div class="slide">
         <div class="slide-img">
            <img src="img/dist/card-slider/sldie-for7.webp" alt="">
         </div>
      </div>
   </div>

   <!-- slider-for -->
   <div class="card-for iw-slider">
      <div class="slide">
         <div class="slide-img">
            <img src="img/dist/card-slider/slide-for1.webp" alt="">
         </div>
      </div>
   
      <div class="slide">
         <div class="slide-img">
            <img src="img/dist/card-slider/slide-for2.webp" alt="">
         </div>
      </div>
   
      <div class="slide">
         <div class="slide-img">
            <img src="img/dist/card-slider/slide-for3.webp" alt="">
         </div>
      </div>

      <div class="slide">
         <div class="slide-img">
            <img src="img/dist/card-slider/slide-for4.webp" alt="">
         </div>
      </div>

      <div class="slide">
         <div class="slide-img">
            <img src="img/dist/card-slider/slide-for5.webp" alt="">
         </div>
      </div>

      <div class="slide">
         <div class="slide-img">
            <img src="img/dist/card-slider/slide-for6.webp" alt="">
         </div>
      </div>

      <div class="slide">
         <div class="slide-img">
            <img src="img/dist/card-slider/sldie-for7.webp" alt="">
         </div>
      </div>
   </div>
