<div class="cards-row row">
   <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 cards-col">
      <div class="card-item">
         <div class="hidden-block"><a href="../card-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
         <a href="" class="img"><img src="img/dist/cards/card1.webp" alt="Комбинезон"></a>
         <a href="" class="card-title media500">А вот здесь, ну прям море комбинезонов</a>
      </div>
   </div>

   <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 cards-col">
      <div class="card-item">
         <div class="hidden-block"><a href="../card-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
         <a href="" class="img"><img src="img/dist/cards/card2.webp" alt="Комбинезон"></a>
         <a href="" class="card-title media500">А вот здесь, ну прям море комбинезонов, юездонное море комбинезонов</a>
      </div>
   </div>

   <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 cards-col">
      <div class="card-item">
         <div class="hidden-block"><a href="../card-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
         <a href="" class="img"><img src="img/dist/cards/card3.webp" alt="Комбинезон"></a>
         <a href="" class="card-title media500">А вот здесь, ну прям море комбинезонов</a>
      </div>
   </div>

   <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 cards-col">
      <div class="card-item">
         <div class="hidden-block"><a href="../card-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
         <a href="" class="img"><img src="img/dist/cards/card4.webp" alt="Комбинезон"></a>
         <a href="" class="card-title media500">А вот здесь, ну прям море комбинезонов</a>
      </div>
   </div>

   <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 cards-col">
      <div class="card-item">
         <div class="hidden-block"><a href="../card-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
         <a href="" class="img"><img src="img/dist/cards/card2.webp" alt="Комбинезон"></a>
         <a href="" class="card-title media500">А вот здесь, ну прям море комбинезонов</a>
      </div>
   </div>

</div>