<!-- <div class="card">
   <div class="face front">
      <h4>Front</h4>
   </div>
   <div class="face back"><h4>Back</h4></div>
</div> -->

<div class="category-block">
   <div class="category-head">
      <h2 class="medium-title category-head-title">Спецодежда</h2>
      <a href="category-page.html" class="see-all hover-link">Смотреть все</a>
   </div>

   <div class="category-cards cards-slider row iw-slider">
      <div class="category-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
         <div class="card-item">
            <div class="hidden-block"><a href="../subcategory-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
            <div class="face front">
               <a href="" class="img"><img src="img/dist/cards/card3.webp" alt="Комбинезон"></a>
               <a href="" class="card-title">А вот здесь, ну прям море комбинезонов</a>
            </div>
         </div>
      </div>
      <div class="category-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
         <div class="card-item">
            <div class="hidden-block"><a href="../subcategory-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
            <a href="" class="img"><img src="img/dist/cards/card2.webp" alt="Комбинезон"></a>
            <a href="" class="card-title">Очень много комбинезонов</a>
         </div>
      </div>
      <div class="category-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
         <div class="card-item">
            <div class="hidden-block"><a href="../subcategory-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
            <a href="" class="img"><img src="img/dist/cards/card3.webp" alt="Комбинезон"></a>
            <a href="" class="card-title">А вот здесь, ну прям море комбинезонов</a>
         </div>
      </div>
      <div class="category-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
         <div class="card-item">
            <div class="hidden-block"><a href="../subcategory-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
            <a href="" class="img"><img src="img/dist/cards/card4.webp" alt="Комбинезон"></a>
            <a href="" class="card-title">Это очень очень большой заголовок с комбинезонами</a>
         </div>
      </div>

      <div class="category-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
         <div class="card-item">
            <div class="hidden-block"><a href="../subcategory-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
            <a href="" class="img"><img src="img/dist/cards/card5.webp" alt="Комбинезон"></a>
            <a href="" class="card-title">Комбинезоны</a>
         </div>
      </div>
      <div class="category-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
         <div class="card-item">
            <div class="hidden-block"><a href="../subcategory-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
            <a href="" class="img"><img src="img/dist/cards/card6.webp" alt="Комбинезон"></a>
            <a href="" class="card-title">Комбинезоны</a>
         </div>
      </div>
      <div class="category-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
         <div class="card-item">
            <div class="hidden-block"><a href="../subcategory-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
            <a href="" class="img"><img src="img/dist/cards/card7.webp" alt="Комбинезон"></a>
            <a href="" class="card-title">Комбинезоны</a>
         </div>
      </div>
      <div class="category-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
         <div class="card-item">
            <div class="hidden-block"><a href="../subcategory-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
            <a href="" class="img"><img src="img/dist/cards/card8.webp" alt="Комбинезон"></a>
            <a href="" class="card-title">Комбинезоны</a>
         </div>
      </div>
   </div>
</div>