<section class="section-contact">
   <div class="container-fluid contact-container">
      <h2 class="section-title contact-title">Связаться с нами</h2>
      <h4 class="section-subtitle contact-subtitle">Если у вас возникли вопросы по поводу заказа — заполните форму ниже или свяжитесь с нами по указаным контактам</h4>
   
      <div class="contact-block">
         @@include('_form.html')
         <address>
            <div class="item">
               <span>Email</span>
               <a href="mailto: info@integraway.com" class="address hover-link">info@integraway.com</a>
            </div>
            <div class="item">
               <span>Phone</span>
               <a href="tel:600-430-0510" class="address hover-link">600-430-0510</a>
            </div>
            <div class="item">
               <span>Socials</span>
               <div class="social contact-social">
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-facebook"></use></svg></a>
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-instagram"></use></svg></a>
               </div>
            </div>
         </address>
      </div>
      
   </div>
</section>