<form action="" id="form">
   <div class="form-item">
      <input type="text" class="field" name="user_name" placeholder="Ваше имя">
      <div class="message">Это обязательное поле</div>
   </div>

   <div class="form-item">
      <input type="text" class="field" name="user_phone" placeholder="Телефон">
      <div class="message"></div>
   </div>

   <div class="form-item">
      <input type="text" class="field" name="user_email" placeholder="E-mail">
      <div class="message"></div>
   </div>

   <div class="form-item">
      <textarea name="user_message" class="field" placeholder="Сообщение"></textarea>
      <div class="message"></div>
   </div>

   <div class="form-item submit-item">
      <input type="submit" class="section-button large" value="Отправить">
   </div>
</form>