<div class="main-slider iw-slider">
   <div class="slide">
      <div class="slide-img">
         <picture>
            <source media="(max-width: 380px)" srcset="img/dist/index/main-mob-slide1.webp">
            <img src="img/dist/index/main-slide1.webp" alt="">
          </picture>
      </div>
      <div class="slide-content">
         <div class="slide-text">
            <p><span>Средства</span></p>
            <p><span>индивидуальной</span></p>
            <p><span>защиты</span></p>
         </div>
         <button class="section-button large slide-btn">По лучшей цене</button>
      </div>
   </div>

   <div class="slide">
      <div class="slide-img">
         <picture>
            <source media="(max-width: 380px)" srcset="img/dist/index/main-mob-slide1.webp">
            <img src="img/dist/index/main-slide2.webp" alt="">
          </picture>
      </div>
      <div class="slide-content">
         <div class="slide-text">
            <p><span>От <strong>завода</strong></span></p>
            <p><span>до вашего</span></p>
            <p><span><strong>склада</strong></span></p>
         </div>
         <button class="section-button large slide-btn">По лучшей цене</button>
      </div>
   </div>

   <div class="slide">
      <div class="slide-img">
         <picture>
            <source media="(max-width: 380px)" srcset="img/dist/index/main-mob-slide1.webp">
            <img src="img/dist/index/main-slide3.webp" alt="">
          </picture>
      </div>
      <div class="slide-content">
         <div class="slide-text white-text">
            <p><span>Товар под ключ</span></p>
            <p><span>с вашим</span></p>
            <p><span>логотипом</span></p>
         </div>
         <button class="section-button large slide-btn white-btn">По лучшей цене</button>
      </div>
   </div>
</div>