<div class="category-cards other-cards-slider row iw-slider">
   <div class="other-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="card-item">
         <div class="hidden-block"><a href="../card-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
         <a href="" class="img"><img src="img/dist/cards/card1.webp" alt="Комбинезон"></a>
         <a href="" class="card-title small-card-title">Антистатические огнестойкие штаны-спецовки (модакрил, хлопок) Antony Gill8494</a>
      </div>
   </div>
   <div class="other-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="card-item">
         <div class="hidden-block"><a href="../card-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
         <a href="" class="img"><img src="img/dist/cards/card2.webp" alt="Комбинезон"></a>
         <a href="" class="card-title small-card-title">Полукомбинезон - 65% полиэстер 35% хлопок 245 г/м MCSAL PANOPLY</a>
      </div>
   </div>
   <div class="other-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="card-item">
         <div class="hidden-block"><a href="../card-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
         <a href="" class="img"><img src="img/dist/cards/card3.webp" alt="Комбинезон"></a>
         <a href="" class="card-title small-card-title">100% хлопковые летние полукомбинезоны Antony Gill8510</a>
      </div>
   </div>
   <div class="other-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="card-item">
         <div class="hidden-block"><a href="../card-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
         <a href="" class="img"><img src="img/dist/cards/card4.webp" alt="Комбинезон"></a>
         <a href="" class="card-title small-card-title">Полукомбинезон - 65% полиэстер 35% хлопок 245 г/м MCSAL PANOPLY</a>
      </div>
   </div>

   <div class="other-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="card-item">
         <div class="hidden-block"><a href="../card-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
         <a href="" class="img"><img src="img/dist/cards/card5.webp" alt="Комбинезон"></a>
         <a href="" class="card-title small-card-title">100% хлопковые летние полукомбинезоны Antony Gill8510</a>
      </div>
   </div>
   <div class="other-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="card-item">
         <div class="hidden-block"><a href="../card-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
         <a href="" class="img"><img src="img/dist/cards/card6.webp" alt="Комбинезон"></a>
         <a href="" class="card-title small-card-title">Антистатические огнестойкие штаны-спецовки (модакрил, хлопок) Antony Gill8494</a>
      </div>
   </div>
   <div class="other-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="card-item">
         <div class="hidden-block"><a href="../card-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
         <a href="" class="img"><img src="img/dist/cards/card7.webp" alt="Комбинезон"></a>
         <a href="" class="card-title small-card-title">Полукомбинезон - 65% полиэстер 35% хлопок 245 г/м MCSAL PANOPLY</a>
      </div>
   </div>
   <div class="other-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="card-item">
         <div class="hidden-block"><a href="../card-page.html" class="section-button small-btn white-btn hidden-btn">Подробнее</a></div>
         <a href="" class="img"><img src="img/dist/cards/card8.webp" alt="Комбинезон"></a>
         <a href="" class="card-title small-card-title">Антистатические огнестойкие штаны-спецовки (модакрил, хлопок) Antony Gill8494</a>
      </div>
   </div>
</div>