<div class="select" >
   <div class="current-select" tabindex="0">Все категории</div>
   <ul class="options">
      <li class="option"><span class="option-content selected">Все категории</span>
      <li class="option"><span class="option-content">Спецодежда</span>
         <ul class="options__1">
            <li class="option"><span class="option-content">Комбинезоны</span>
               <ul class="options__2">
                  <li class="option"><span class="option-content">Комбинезоны</span></li>
               </ul>
            </li>
            <li class="option"><span class="option-content">Комбинезоны</span>
               <ul class="options__2">
                  <li class="option"><span class="option-content">Комбинезоны</span></li>
               </ul>
            </li>
         </ul>
      </li>
      <li class="option"><span class="option-content">Спецобувь</span></li>
      <li class="option"><span class="option-content">Защита рук</span></li>
      <li class="option"><span class="option-content">Бренды</span></li>
   </ul>
</div>