<ul class="submenu">
   <li>
      <span>Спецодежда</span>
      <a href="">Одноразовая одежда</a>
      <a href="">Комбинезоны</a>
      <a href="">Полукомбинезоны</a>
      <a href="">Куртки</a>
      <a href="">Халаты</a>
      <a href="">Жилеты</a>
      <a href="">Фартуки</a>
      <a href="">Рубашки, спецовки</a>
      <a href="">Штаны и брюки</a>
      <a href="">Внутренняя одежда</a>
      <a href="">Сигнальная одежда</a>
      <a href="">Униформа</a>
   </li>
   <li>
      <span>Спецобувь</span>
      <a href="">Ботинки рабочие</a>
      <a href="">Сапоги рабочие</a>
      <a href="">Сапоги резиновые</a>
      <a href="">Шипы для обуви</a>
   </li>
   <li>
      <span>Средства защиты</span>
      <a href="">Защита головы</a>
      <a href="">Защита глаз и лица</a>
      <a href="">Защита органов дыхания</a>
      <a href="">Защита органов слуха</a>
      <a href="">Защита от падения с высоты</a>
      <a href="">Наборы защитного оборудования</a>
   </li>
   <li>
      <span>Бренды</span>
      <a href="">AlBert</a>
      <a href="">Amyto</a>
      <a href="">Antony Gil</a>
      <a href="">Delt </a>
      <a href="">DeltaPlus</a>
      <a href="">Dossi</a>
      <a href="">Du Pont</a>
      <a href="">FalkPit</a>
      <a href="">Fanotek</a>
      <a href="">Dossi</a>
      <a href="">Dossi</a>
   </li>
</ul>