.section-main {
   padding: 40px 0;
}

.section-categories {
   padding: 30px 0 160px 0;
}




@media all and (max-width: 1060px) {
   .main-col.category-col { flex: 0 0 30%; max-width: 30%; }
   .main-col.slider-col { flex: 0 0 70%; max-width: 70%; }
}

@media all and (max-width: 840px) {
   .main-col.slider-col { order: 1; flex: 0 0 100%; max-width: 100%; margin-bottom: 30px; }
   .main-col.category-col { order: 2; flex: 0 0 100%; max-width: 100%; }
}

@media all and (max-width: 576px) {
   .section-categories { padding: 30px 0 100px 0; }
}