.preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;
   visibility: hidden;
   z-index: 5;
   background: var(--section-white, #fff);
   transition: all 0.4s ease-out;
}

.preloader.show {
   opacity: 1;
   visibility: visible;
   transition: all 0.4s ease-out;
}

.preloader .logo {
   max-width: 250px;
   width: 100%;
   opacity: 0;
   visibility: hidden;
}

.preloader.show .logo {
   animation: fadeLogoPreloader 0.3s ease-out 0.7s forwards;
}

@keyframes fadeLogoPreloader {
   0% { opacity: 0; visibility: hidden; }
   100% { opacity: 1; visibility: visible; }
}
